__pycache__/
.DS_Store

# Python environments (never commit)
venv/
.venv/

MiDaS/
CLIP/
ResizeRight/
pytorch3d-lite/
guided-diffusion/
AdaBins/
open_clip/

models/
pretrained/
output/
input/

progress.png

output/
input/
